* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
    --blue: #007BFF;
    --blue-claro: #1987fe;
    --black: #050505;
    --white: #fafafa;
    --gray: #c9c9c9;
    --vidro: rgba(255, 255, 255, 0.1)
}

body {
  background-color: var(--black);
  color: var(--white);
}

/*########### HEADER ##################*/
.navegacao {
  position: fixed;
  top: 0;
  background: rgba(15, 23, 42, 0.7);
  width: 100%;
  z-index: 100;
  padding: 1.5rem;
}

.menu {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 3rem;
}

.menu-link {
  text-decoration: none;
  color: var(--white);
  font-weight: 500;
  font-size: 1.5rem;
  position: relative;
  padding: 0.5rem;
}

.menu-link::after {
  content: '';
  height: 4px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, var(--blue), var(--blue-claro));
  transition: width 0.5s ease;
}

.menu-link:hover::after {
  width: 100%;
}

/*########### INÍCIO ##################*/
.cabecalho {
  min-height: 100vh;
  /* margin-top: 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.cabecalho .perfil{
  text-align: center;
  color: var(--white);
}

.cabecalho .foto-perfil {
  width: 280px;
  height: 300px;
  box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
  border-radius: 50%;
  border: 4px solid var(--vidro);
  margin: 70px 20px 20px 20px;
}

.perfil h1 {
  font-size: 2.5rem;
  color: var(--white);
  font-weight: bold;
  margin: 30px;
}

.perfil p{
  font-size: 2rem;
  color: var(--blue);
  margin-bottom: 50px;
}

.perfil .redes-sociais{
  margin: 30px;
}

.redes-sociais a{
  text-decoration: none;
  text-transform: uppercase;
  background: var(--blue);
  padding: 7px 15px;
  border-radius: 10px;
  color: var(--white);
  font-size: 2rem;
  margin: 0 15px;
  transition: color 0.3s ease;
}

.perfil .cv-contato {
  margin: 100px 0;
}

/*########### SOBRE ##################*/
.sobre {
  padding: 8rem 2rem;
}

.sobre-titulo {
  font-size: 3rem;
  color: var(--white);
  text-align: center;
  margin-bottom: 6rem;
}

.sobre-background {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 16px;
  border: 1px solid var(--vidro);
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.05);
}

.sobre-paragrafo {
  text-align: center;
  font-size: 1.3rem;
}

/*########### DIPLOMAS E CERTIFICAÇÕES ###############*/
.diplomas {
  padding: 8rem 2rem;
  max-width: 1024px;
  margin: 0 auto;
}

.diplomas .titulo {
  font-size: 3rem;
  color: var(--white);
  text-align: center;
  margin-bottom: 3rem;
}

.diplomas .sub-titulo {
  font-size: 2rem;
  color: var(--blue);
  margin: 3rem 0;
}

.projetos-caixa {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  cursor: pointer;
}

.card-diploma {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid var(--vidro);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  overflow: hidden;
  padding-bottom: 20px;
}

.card-diploma:hover {
  box-shadow: 0 10px 20px rgba(0, 123, 255, 0.5);
  transform: translate(-10px) scale(1.03);
  transition: all 0.5s ease;
}

.projetos-caixa .card-diploma a {
  text-decoration: none;
}

.titulo-diploma{
  color: var(--gray);
  text-align: center;
  font-size: 1.2rem;
  margin: 10px 0;
}

.projetos-imagem {
  height: 200px;
  width: 100%;
  object-fit: cover;
  transform: scale(1.05);
  transition: all 0.3s ease;
}