* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
    --blue: #007BFF;
    --blue-claro: #1987fe;
    --black: #050505;
    --white: #fafafa;
    --gray: #c9c9c9;
}

body {
  background-color: var(--black);
  color: var(--white);
}

.navegacao {
  position: fixed;
  top: 0;
  background: rgba(15, 23, 42, 0.7);
  width: 100%;
  z-index: 100;
  padding: 1.5rem;
}

.menu {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 3rem;
}

.menu-link {
  text-decoration: none;
  color: var(--white);
  font-weight: 500;
  font-size: 1.5rem;
  position: relative;
  padding: 0.5rem;
}

.menu-link::after {
  content: '';
  height: 4px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, var(--blue), var(--blue-claro));
  transition: width 0.5s ease;
}

.menu-link:hover::after {
  width: 100%;
}