* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
    --blue: #007BFF;
    --blue-claro: #1987fe;
    --black: #050505;
    --white: #fafafa;
    --gray: #c9c9c9;
    --vidro: rgba(255, 255, 255, 0.1)
}

body {
  background-color: var(--black);
  color: var(--white);
}

/*########### HEADER ##################*/
.navegacao {
  position: fixed;
  top: 0;
  background: rgba(15, 23, 42, 0.7);
  width: 100%;
  z-index: 100;
  padding: 1.5rem;
}

.menu {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 3rem;
}

.menu-link {
  text-decoration: none;
  color: var(--white);
  font-weight: 500;
  font-size: 1.5rem;
  position: relative;
  padding: 0.5rem;
}

.menu-link::after {
  content: '';
  height: 4px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, var(--blue), var(--blue-claro));
  transition: width 0.5s ease;
}

.menu-link:hover::after {
  width: 100%;
}

/*########### INÍCIO ##################*/
.cabecalho {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cabecalho .perfil{
  text-align: center;
  color: var(--white);
}

.cabecalho .foto-perfil {
  width: 280px;
  height: 300px;
  box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
  border-radius: 50%;
  border: 4px solid var(--vidro);
  margin: 70px 20px 20px 20px;
  animation: flutuar 5s ease-in-out infinite;
}

.perfil h1 {
  font-size: 2.5rem;
  color: var(--white);
  font-weight: bold;
  margin: 30px;
}

.perfil p{
  font-size: 2rem;
  color: var(--blue);
  margin-bottom: 50px;
}

.scroll-down {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.4s ease-out;
    opacity: 0;
    user-select: none;
}

.scroll-down img {
    width: 32px;
}

/*########### SOBRE ##################*/
.sobre {
  padding: 8rem 2rem 2rem;
  max-width: 1024px;
  margin: 0 auto;
}

.sobre-titulo {
  font-size: 3rem;
  color: var(--white);
  text-align: center;
  margin-bottom: 6rem;
}

.sobre-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sobre-background {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 16px;
  border: 1px solid var(--vidro);
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.05);
}

.sobre-paragrafo {
  text-align: center;
  font-size: 1.3rem;
}

.redes-sociais{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.redes-sociais a{
  text-decoration: none;
  text-transform: uppercase;
  background: var(--blue);
  padding: 7px 15px;
  border-radius: 10px;
  color: var(--white);
  font-size: 2rem;
  margin: 0 15px;
  transition: color 0.3s ease;
}


.skills {
    width: 100%;
    height: auto;
    padding: 2.5rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-skills {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.skills-headline {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
}

.skills-headline span {
    font-size: 1.6rem;
    font-weight: 300;
}

.skills-headline h1 {
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--blue);
}

.skills-headline p {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 300;
    padding-top: 1.6rem;
    color: var(--gray);
}

.list-about {
    padding-top: 1.6rem;
}

.container-list {
    display: flex;
    gap: 2rem;
}

.container-list i {
    color: var(--blue);
    list-style: none;
}

.list-about li {
    width: 100%;
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--gray);
    list-style-type: none;
}

.list-about .destaque {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--blue);
}

.skills-info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 2rem 0rem;
}

.card-tech {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: transform 0.3s ease;
    margin-top: 30px
}

.card-tech img {
    width: 50%;
    opacity: 1;
    transition: opacity 0.3s ease, filter 0.3s ease;
}

.card-tech:hover {
    transform: translateY(-5px);
}

.card-tech:hover img {
    opacity: 0.6;
    filter: brightness(0) invert(1);
}

.card-tech:hover img[data-tech="html"] {
    filter: sepia(1) hue-rotate(-35deg) saturate(5);
}

.card-tech:hover img[data-tech="css"] {
    filter: sepia(1) hue-rotate(180deg) saturate(10);
}

.card-tech:hover img[data-tech="js"] {
    filter: sepia(1) hue-rotate(45deg) saturate(10);
}

.card-tech:hover img[data-tech="bootstrap"] {
    filter: sepia(1) hue-rotate(265deg) saturate(8);
}
.card-tech:hover img[data-tech="react"] {
    filter: sepia(1) hue-rotate(190deg) saturate(8);
}

.card-tech:hover img[data-tech="cypressIO"] {
    filter: sepia(1) hue-rotate(265deg) saturate(8);
}

.card-tech:hover img[data-tech="playwright"] {
    filter: sepia(1) hue-rotate(190deg) saturate(8);
}

/*########### DIPLOMAS E PROJETOS ###############*/
.diplomas ,
.projetos {
  padding: 8rem 2rem;
  max-width: 1024px;
  margin: 0 auto;
}

.diplomas .titulo ,
.projetos .titulo {
  font-size: 3rem;
  color: var(--white);
  text-align: center;
  margin-bottom: 3rem;
}

.diplomas .sub-titulo ,
.projetos .sub-titulo {
  font-size: 2rem;
  color: var(--blue);
  margin: 3rem 0;
}

.projetos-caixa {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  cursor: pointer;
}

.card-diploma, 
.card-projetos{
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid var(--vidro);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  overflow: hidden;
  padding-bottom: 20px;
}

.card-diploma:hover ,
.card-projetos:hover {
  box-shadow: 0 10px 20px rgba(0, 123, 255, 0.5);
  transform: translate(-10px) scale(1.03);
  transition: all 0.5s ease;
}

.projetos-caixa .card-diploma a ,
.projetos-caixa .card-projetos a {
  text-decoration: none;
}

.titulo-diploma,
.titulo-projetos {
  color: var(--gray);
  text-align: center;
  font-size: 1.5rem;
  margin: 10px 0;
}

.projetos-imagem {
  height: 200px;
  width: 100%;
  object-fit: cover;
  transform: translateY(-4px);
  transition: all 0.3s ease;
}

.projetos .paragrafo-projetos {
  color: var(--gray);
  text-align: center;
  font-size: 1rem;
  margin: 10px 0;
  padding: 10px 15px;
}

/*########### CONTATOS ###############*/
.contatos {
  padding: 8rem 2rem;
  margin: 0 auto;
}

.contatos-titulo {
  font-size: 3rem;
  color: var(--white);
  text-align: center;
  margin-bottom: 3rem;
}

.formulario-contato {
  max-width: 600px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid var(--vidro);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  padding: 2rem;
}

.campo-form {
  width: 100%;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid var(--vidro);
  border-radius: 8px;
  color: var(--white);
  outline: none;
}

.campo-form:focus {
  border-color: var(--blue-claro); 
  box-shadow: 0 0 10px rgba(56, 51, 154, 0.3);
}

.grupo-form {
  margin-bottom: 1.5rem;
}

.botao-form {
  color: var(--white);
  background: linear-gradient(45deg, var(--blue), var(--blue-claro));
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
  width: 100%;
  transition: all 0.5s ease;
}

.botao-form:hover {
  transform: translateY(-4px);
  background: linear-gradient(45deg, var(--blue-claro), var(--blue));
  box-shadow: 0 5px 15px rgba(56, 51, 154, 0.3);
}

.footer {
  text-align: center;
  padding: 2rem;
  background: rgba(15, 23, 42, 0.7);
  margin-top: 4rem;
}

@keyframes flutuar {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateX(-50%) translateY(0);
  }

  50% {
    transform: translateX(-50%) translateY(-15px);
  }
}

@media (max-width: 600px) {
  .navegação{
    padding: 1rem;
  }

  .menu {
    gap: 1.5rem;
  }

  .menu-link {
    font-size: 1.2rem;
    padding: 0.3rem;
  }

  .cabecalho .foto-perfil {
  width: 180px;
  height: 200px;
  }

  .redes-sociais{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .social-icons{
    display: flex;
    gap: 1rem;
    margin: 0 auto
  }

  .redes-sociais a{
    font-size: 1.5rem;
    padding: 5px 10px;
    margin: 0 10px;
  }

  .sobre-background {
    padding: 1rem;
  }

  .skills-headline h1 {
    font-size: 1.5rem;
  }

  .skills-headline p {
    font-size: 1rem;
  }
}